@using WindowsDefender_WebApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}

@section Hero {

    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="massivetitle">WINDOWS TOWER DEFENDER</h1>
                    <p class="lead">Immerse yourself in a 4 vs. 4 tower defence game that IGN is calling the most groundbreaking multiplayer strategy game of 2015!</p>
                    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Register &amp; Play Now&nbsp;&nbsp;<span class="glyphicon glyphicon-log-in"></span></a></p>
                </div>
                <div class="col-sm-4 col-md-3 hidden-xs hero-side pull-right">
                    <div class="panel panel-primary hero-login">
                        <div class="panel-heading">
                            <h3 class="panel-title">Game Login</h3>
                        </div>
                        <div class="panel-body">
                            <section id="loginForm">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-12">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="submit" value="Log in" class="btn btn-default" />
                                        </div>
                                    </div>
                                    <p>
                                        <a href="/Account/Register">Register as a new player</a>
                                    </p>
                                    @* Enable this once you have account confirmation enabled for password reset functionality
                                    <p>
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </p>*@
                                }
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row call-to-action-wrapper">

    <div class="col-sm-6 col-md-4 call-to-action">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/Home/About"><img src="~/Resources/call_to_action.png" /></a>
                <br /><br />
                <a href="/Home/About" class="btn btn-primary btn-lg">About The Game</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 call-to-action">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/Home/Media"><img src="~/Resources/call_to_action.png" /></a>
                <br /><br />
                <a href="/Home/Media" class="btn btn-primary btn-lg">Media Showcase</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 call-to-action">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/Home/Download"><img src="~/Resources/call_to_action.png" /></a>
                <br /><br />
                <a href="/Home/Download" class="btn btn-primary btn-lg">Download Client</a>
            </div>
        </div>
    </div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}